/*
 * Theme
 */
@import "theme/rex";

/*
 * Widgets
 */
@import "widgets/search-widget";
@import "widgets/app-pane-widget";

.application {
  & > header {
    background-color: #121926;
    padding: 8px;
    box-shadow: 0 2px 10px rgba(28, 98, 185, 0.15);
  }
}
